{% extends 'base.html' %}
{% block content %}
{% load static %} 
    <!-- <h1>About me</h1> -->
    <div class="about-wrapper">
        <div class="about-container">
            <div class="about-content">
                <div class="about-text">
                    <p>
                        I'm Paula Sibbes GB, a Scientific Illustrator and Graphic Designer, infusing my creative expertise into the charming city of Nijmegen, the Netherlands, which has been my home for the past three years. I come originally from Colombia, and my artistic journey is fueled by a passion for traveling, nature, communication, artistic exploration, and cultural diversity. With a blend of scientific precision and artistic flair, I draw audiences in with visual creations that seamlessly merge science and art. Committed to delivering quality, I strive to inspire and engage through my vibrant and detail-oriented work.    </p>
                </div>
            </div>
            <div class="about-photo">
                <img src="{% static 'portfolio/about_me/profile2.jpeg' %}" alt="Your Photo" />
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="contact-icons">
        <a href="https://www.instagram.com/papo.kunst" target="_blank" class="icon fab fa-instagram"></a>
        <a href="mailto:papo.kunst@gmail.com" target="_blank" class="icon far fa-envelope"></a>
        <a href="https://wa.me/+31611175282" target="_blank" class="icon fab fa-whatsapp"></a>
     </div>
     <br><br><br>
{% endblock %}