{% extends 'base.html' %}
{% block content %}
{% load static %} 
    <!-- <h1>About me</h1> -->
    <div class="about-wrapper">
        <div class="about-container">
            <div class="about-content">
                <div class="about-text">
                    <p>
                        Paula Sibbes Gomez Bernal, a 34-year-old Scientific Illustrator and Graphic Designer, brings her creative expertise to life in the picturesque city of Nijmegen, the Netherlands, where she has called home for the past five years. Originally hailing from Colombia, Paula's artistic journey is deeply rooted in her passion for visual storytelling, scientific exploration, and cultural diversity. Through her unique blend of scientific precision and artistic flair, Paula captivates audiences with visually stunning creations that bridge the realms of science and art. With an unwavering commitment to excellence, Paula continues to inspire and engage through her vibrant and thought-provoking work.
                    </p>
                </div>
            </div>
            <div class="about-photo">
                <img src="{% static 'portfolio/about_me/profile2.jpeg' %}" alt="Your Photo" />
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="contact-icons">
        <a href="https://www.instagram.com/paugommm" target="_blank" class="icon fab fa-instagram"></a>
        <a href="mailto:papo.kunst@gmail.com" target="_blank" class="icon far fa-envelope"></a>
        <a href="https://wa.me/+31611175282" target="_blank" class="icon fab fa-whatsapp"></a>
     </div>
     <br><br><br>
{% endblock %}